<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <link rel="stylesheet" href="normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="homepage.css">
  </head>
  <body>

    <table>
      <caption>Employee Information</caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Job Role</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">Data is updated every 15 minutes.</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Amir Abaza</th>
        <td>amir.exmpl@gmail.com</td>
        <td>Dev</td>
      </tr
      <tr>
        <th scope="row">Mike</th>
        <td>m.k@gmail.com</td>
        <td>Web Designer</td>
      </tr
      <tr>
        <th scope="row">Charlie</th>
        <td>char.hunn@gmail.com</td>
        <td>Solo Act</td>
      </tr
      <tr>
        <th scope="row">Jules</th>
        <td>jules.wf@gmail.com</td>
        <td>Hitman</td>
      </tr
      <tr>
        <th scope="row">Jimmy</th>
        <td>jimmy.g.buckets@gmail.com</td>
        <td>Back-end Developer</td>
      </tr
      <tr>
        <th scope="row"><%= link_to 'About', about_path %></th>
        <td>about.me@gmail.com</td>
        <td>Mr. know it all(About)</td>
      </tr
    </tbody>
    </table>

  </body>
</html>
